.landingPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem 4rem 6rem;
  width: 100%;
  overflow-x: hidden;
  gap: 2rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  flex-wrap: wrap;
}

.subHeading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.subHeading p {
  white-space: nowrap;
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--mainBlack);
}

.line {
  width: 2.75rem;
  height: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--green);
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.title {
  color: var(--mainBlack);
  font-family: Poppins;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 100%;
  letter-spacing: 0%;
}

.headingDesc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.desc {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--subBlack);
}

.btnJoin {
  margin-top: 1rem;
}

.imgContainer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.mainBorder {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  border: 1.5rem solid var(--mainCircle);
  /* Green - 61BF08 - opacity 20 */
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--subCircle);
  /* background-color: #463E8D ; 463E8D - opacity 10% */
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1.5rem solid var(--border);
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active {
  opacity: 1;
  position: relative;
  z-index: 2;
}

.hidden {
  opacity: 0;
  z-index: 1;
}

/* Responsive Design */
@media (max-width: 480px) {
  .landingPage {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }

  .textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .subHeading {
    width: 100%;
  }
  .subHeading p {
    font-size: 0.9rem;
  }

  .line {
    width: 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 0.75rem;
  }

  .imgContainer {
    width: 100%;
  }

  /* .circularBorder {
    width: 250px;
    height: 250px;
    margin-top: 2rem;
  } */
}
