.wrapper {
  width: 100%;
  position: relative;
    align-items: flex-start;
  justify-content: flex-start;
}

.label {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--mainBlack);
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
}

.selectBox {
  border: 0.5px solid var(--formLine);
  border-radius: 6px;
  /* padding: 10px 12px; */
    padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
     height: 3.75rem;
}

.placeholder {
  color: var(--mainBlack);
  font-size: 16px;
}

.selectedText {
  color: var(--mainBlack);
  font-size: 16px;
}

.arrow {
  font-size: 16px;
  color: var(--mainBlack);
}

.dropdown {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  border: 0.5px solid var(--formLine);
  border-radius: 6px;
  background-color: transparent;
  max-height: 260px;
  overflow-y: auto;
  z-index: 30;
  padding: 6px 0;
  
}

.option {
  display: flex;
   align-items: center;
  gap: 8px;
  padding: 10px 12px;
  font-size: 16px;
  cursor: pointer;
   background-color: transparent;
  color: var(--mainBlack);
}

.option:hover {
  background: #0e3e6e;
}

.option input {
  accent-color: transparent;
}
