.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 55555;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 30rem;
  height: 27rem;
  background: var(--mainWhite);
  border-radius: 1.5rem;
  padding: 2rem;
  gap: 1rem;
}
.modalIcon {
  display: flex;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

.bodyModel {
  display: flex;
  width: 16rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.bodyModel h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--successTxt);
  width: 100%;
}
.bodyModel p {
  color: var(--successText);
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  width: 100%;
}

.modalBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
