.header {
  width: 100%;
  z-index: var(--z-fixed);
  margin-bottom: 0.5rem;
}

.navbar {
  display: flex;
  align-items: center;
   justify-content: space-between;
  padding: 1.5rem 5vw;
  flex-wrap: wrap;
  /* height: 3.5rem; */
  margin-top: 0.75rem;
}

.logoSection {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  height: 68px;
  width: auto;
}

.navItemLng {
    display: flex;
  align-items: center;
  gap: 2rem;
}
.navMenu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navList {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.navItem {
  list-style: none;
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--mainBlack);
}

.navLink {
  color: var(--mainBlack);
  transition: color 0.3s ease;
  text-decoration: none;
}

.navLink:hover {
  color: var(--green);
  border-bottom: 3px solid var(--green);
  padding-bottom: 0.5rem;
}

.navLink:active {
  color: var(--primary-Color);
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 1.2rem;
}

.navLogin {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.login {
  color: var(--green);
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  margin-left: 4rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.menuIcon {
  width: 32px;
  height: 32px;
}

.navMenuActive {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  position: absolute;
  top: 95px;
  right: 0;
  width: 60%;
  background-color: var(--mainWhite);
  z-index: 999;
  padding: 2rem;
}
@media (max-width: 1024px) {


}
@media (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  .hamburger {
    display: block;
    align-items: center;
    cursor: pointer;
  }

  .menuIcon {
    width: 40px;
    height: 40px;
  }

  .navMenu {
    display: none;
  }

  .navList {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }

  .navLink {
    color: var(--green);
    width: 100%;
  }

  .navLink {
    display: block;
    width: 100%;
    color: var(--green);
  }

  .navLogin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  .login {
    margin: 0;
  }
}


