.playStore {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  width: 100%;
  overflow-x: hidden;
  gap: 5rem;
  background-color: var(--subGreen);
  border-bottom: 2rem solid var(--mainWhite);
}

.imgContainer {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-end;       
  padding-top: 3rem;
  width: 457px;
  height: 100%; 
}

.imgContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mockup {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.txtContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 6rem;
  gap: 1.5rem;
}

.txtContainer h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--mainBlack);
}

.txtContainer p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--subBlack);
}

.section {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
}

.card {
  display: flex;
  flex: row;
  align-items: center;
  height: 48px;
  width: 134px;
  border-radius: 6px;
  padding: 0.5rem;
  background-color: var(--appStore);
  gap: 0.5rem;
}

.cardIcon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 21px;
  height: 24px;
}

.iconImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
}

.txt {
  color: var(--mainWhite);
  font-family: Poppins;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  letter-spacing: 0px;
  width: 100%;
}

.text {
  color: var(--mainWhite);
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 100%;
  letter-spacing: -0.47px;
  width: 100%;
}

/* Responsive styles for screens <= 769px >= 480px */
@media(max-width:480px){
  .playStore{
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem 2rem 0rem 2rem;
  }
  .imgContainer {
    width: 100%;
    padding: 0;
  }
  .txtContainer{
    padding-top: 0;
    margin-top: 3rem;
    width: 100%;
  }
  .txtContainer h1{
    font-size: 2rem;
  }
  .txtContainer p{
    font-size: 1rem;
  }

  .section{
    width: 100%;
    margin-top: 2rem;
  }
}


