.ourStory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 6rem 3rem 6rem;
  width: 100%;
  overflow-x: hidden;
  gap: 5rem;
  background-color: var(--body);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer img {
  width: 386px;
  height: 245px;
  border-radius: 1.25rem;
}

.frameLogo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.txtContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.txtContainer h1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: var(--mainBlack);
  gap: 2rem;
}

.txtContainer p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: var(--mainBlack);
}

.txtContainer span {
  font-family: Poppins;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: var(--mainBlack);
}
@media (max-width: 480px) {
  .ourStory {
    display: flex;
    padding: 5rem 2rem 2rem 2rem;
    text-align: center;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .imgContainer img {
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
    object-fit: cover;
  }

  .frameLogo {
    width: 80px;
    height: auto;
    object-fit: contain;
  }
  .txtContainer {
    align-items: left;
    text-align: left;
  }
  .txtContainer h1 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .txtContainer p {
    font-family: Poppins;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.1px;
    font-size: 0.75rem;
  }
  .txtContainer span {
    font-size: 0.75rem;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    line-height: 16px;
    letter-spacing: -0.1px;
  }
}
