@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --body: #f6f6f6;
  --green: #6fa521;
  --subGreen: #f3ffe1;
  --footerGreen: #4a760c;
  --mainBlack: #323232;
  --mainWhite: #ffffff;
  --subWhite: #d6d6d6;
  --lineWhite: #e6e6e6;
  --text: #cbcbcb;
  --subBlack: #565656;
  --connectText: #515151;
  --inputOutline: #b3b4b9;
  --appStore: #171717;
  --circle: #C6C6C6;
  --stepLine: #6F6F6F;
  --mainCircle: rgba(70, 62, 141, 0.1);
  --subCircle: rgba(97, 191, 8, 0.2);
  --faqLine: #e9e9e9;
  --dropdown: #edffde;
  --form: #EEEEEE;
  --formLine: #BABABA;
  --formText: #BDBDBD;
  --lang: #F9F9F9;
  --langLine: #E4E3E3;
  --successTxt: #343F42;
  --successText: #666666;
  --upload: #F8FFEF;
  --uploadBtn: #405337;
  --png: #6D6D6D;
  --z-fixed: 100;
  --gradient: linear-gradient(
    to right,
    #e4ffb3,
    #edffde,
    #f9ffd8,
    #e5fff0,
    #ffffff
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* background: var(--gradient); */
  height: 100%;
  width: 100%;
  color: var(--mainBlack);
  overflow-x: hidden;
}

.layoutPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--gradient);
}
.layoutCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--body);
}

.header {
  width: 100%;
}
