.main-container{
    width: Fill(1512px);
    gap: 120px;
    height: 100vh;
   
}
.why-choose{
    background: #f5f3f3;
    width: Fixed(1352px);
    height: Hug(652px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
   
}
.title-container{
    display: block;
    margin: 0 auto;
    width: fixed(368px);
    height: hug(128px);
    text-align: center;
}
.featurebtn{
    text-transform: uppercase;
    border: 1px solid #6FA521;
    width:165px;
    height: 56px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #6FA521;
    font-weight: 500;
    font-size: 20px;
    font-family:'Poppins';
    cursor: pointer;
}

.why-choose-title{
    height: 48px;
    width: 368px;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 600;
    color:#565656;
    margin-top:18px ;
}

.why-choose-description-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fill(1352px);
    height:Hug(220px);
    margin: auto;
    
}
.container-one{
   
    border-radius: 20px;
    width: 664px;
    height: 200px;
    margin:10px;
    gap: 24px;
    padding: 10px;
    background-color: #fff;
}
.why-choose-container-icon{
    left: 20px;
    top: 32px;
    padding-top: 10px;
    width: 40px;
    height: 40px;
    font-size: 30px;
}

.why-choose-description-title{
    height: 32px;
    top: 88px;
    padding-top: 10px;
    width: 300px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color:#323232;
}
.why-choose-description-text{
    height: 48px;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    color: #323232;
    font-weight: 400px;
    letter-spacing: -0.1px;
}